.goods {
    margin: 3% auto;
    width: 100%;
}

.goods_header {
    width: 60%;
    color: #4e4eff;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 1%;
    margin: 0 auto;
    border-bottom: 2px solid #ccc;
}

.goods_items {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.goods_item {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    padding: 2% 0 2% 2%;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.goods_item_img {
    width: 20%;
    height: 100%;
    overflow: hidden;
}

.goods_item_img img {
    width: 100%;
}

.goods_item_info {
    padding: 2%;
    padding-left: 5%;
    width: 57%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.goods_item_info_title {
    font-weight: bold;
    font-size: large;
}

.goods_item_info_author {
    font-size: small;
}

.goods_item_info_price span:first-child {
    font-weight: bold;
    font-size: large;
}

.goods_item_info_star {
    width: 100%;
}

.goods_item_info_star_num {
    font-weight: bold;
    padding-right: 2%;
}

.goods_item_order {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.goods_item_order a {
    color: white;
    background-color: #4e4eff;
    padding: 6% 12%;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 7%;
}

.goods_item_order span {
    font-weight: bolder;
}

.goods_item_btn {
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.goods_item_btn img,
.goods_item_btn a {
    margin-bottom: 50%;
}


.faq_title {
    border: none;
}